html {
    background-color: #000000;
    color: white;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
}

nav div a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.active {
    text-decoration: underline;
    text-decoration-color: #FFBB00;
    text-underline-offset: 4px;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #right span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

nav #middle {
    gap: 50px;
    margin-left: 80px;
}

nav #right {
    gap: 50px;
    font-size: 20px;
}

nav #right a {
    background-color: #FFBB00;
    border-radius: 9999px;
    border: none;
    padding: 2px 25px;
    font-size: 20px;
    cursor: pointer;
    color: #000000;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#tournament {
    display: flex;
    align-items: center;
    gap: 5px;
}

#tournament span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 20px;
}

.container-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 80px;
}

.content {
    flex: 1;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.content p {
    margin-bottom: 50px;
    font-size: 32px;
}

.box-images {
    background-color: #D9D9D9;
    text-align: center;
    display: flex;
    color: #000000;
    width: 200px;
    height: 220px;
}

.box-images p {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}


@media (min-width: 1600px) {
    .content {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        flex: 1;
    }

    .content p {
        margin-bottom: 70px;
        font-size: 32px;
    }

    .box-images {
        background-color: #D9D9D9;
        text-align: center;
        display: flex;
        color: #000000;
        width: 300px;
        height: 320px;
    }

    .box-images p {
        margin-left: auto;
        margin-right: auto;
        font-size: 60px;
    }
}

footer {
    margin-top: 60px;
    display: flex;
    align-items: center;
    padding-top: 120px;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #000000;
    color: white;
    height: 60px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

footer img {
    cursor: pointer;
}

#footer-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

#footer-middle {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    right: 100px;
}

#footer-right {
    display: flex;
    align-items: center;
    gap: 90px;
}

.user p {
    margin-left: 10px;
}

.menu {
    cursor: pointer;
}

.menu p {
    margin-right: 5px;
}

#member-middle {
    gap: 50px;
    margin-left: 230px;

}

.dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: start;
    padding-left: 15px;
    width: 290px;
    height: 350px;
    background-color: white;
    top: 85px;
    right: 30px;
    border-radius: 15px;
    border: 0.5px solid rgba(0, 0, 0, 0.184);
}

.dropdown.show {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown .dropdown-top {
    display: flex;
    flex-direction: column;
}

.dropdown .account-options {
    color: #57636C;
    text-align: left;
    width: 100%;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.dropdown .gamer-name {
    color: #000000;
    text-align: left;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.dropdown .email {
    color: #FFC90E;
    text-align: left;
    width: 100%;
    font-size: 20px;
    margin-top: 0px;
}

.dropdown-middle {
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 20px;
    gap: 25px;
    margin-left: 20px;
}

.dropdown-middle a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000000;
}

.dropdown-middle a p {
    margin: 0;
    padding: 0;
    line-height: 1;
    margin-left: 10px;
}

.logout {
    margin-top: 20px;
    margin-bottom: 35px;
}

.form-parent {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 400px;
    height: 700px;
}

.button-login {
    width: 94%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 9999px;
    padding: 12px;
    font-size: large;
    background: linear-gradient(to right, #FFC90E, #D33508);
    margin-top: 60px;
    cursor: pointer;
    border: none;
}

.register-button {
    width: 94%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 9999px;
    padding: 12px;
    font-size: large;
    background: linear-gradient(to right, #FFC90E, #D33508);
    margin-top: 60px;
    cursor: pointer;
    border: none;
}

.form-email {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.form-email span {
    font-size: 20px;
}

.form-password {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: relative;
}

.form-password img {
    position: absolute;
    top: 38px;
    right: 10px;
}

.form-password a {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.form-password span {
    font-size: 20px;
}

.login-text {
    text-align: center;
    font-size: 36px;
}

.sign-in-text {
    text-align: center;
    margin-top: 45px;
}

input:focus {
    outline: none;
    box-shadow: none;
}

textarea:focus {
    outline: none;
    box-shadow: none;
}

textarea {
    resize: none;
}

.form-parent {
    margin-bottom: 280px;
}

.form input {
    border: #FFBB00 1px solid;
    background-color: #D9D9D91A;
    border-radius: 9999px;
    padding: 12px;
    color: white;
    font-size: large;
}

.sign-in-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 20px;
}

.sign-in-container img {
    cursor: pointer;
}

.form-bottom-text {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.form-bottom-text a {
    color: white;
    margin-left: 2px;
}

.welcome-page {
    display: flex;
    justify-content: center;
}

.welcome-logo {
    width: 364px;
    margin-top: 20px;
}

.welcome-content {
    text-align: center;
    max-width: 839px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.welcome-content h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.welcome-content p {
    font-family: inter;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.welcome-button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
    border-radius: 9999px;
    padding: 4px;
    font-size: large;
    background: linear-gradient(to right, #FFC90E, #D33508);
    margin-top: 250px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.bg-white {
    background-color: white;
}

.privacy-policies {
    color: #000000;
    max-width: 1000px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

}

.privacy-policies span {
    text-decoration: underline;
    cursor: pointer;
}

.edit-photo {
    height: 119px;
    width: 119px;
    border-radius: 50%;
    background-color: #D9D9D9;
    border: #FFBB00 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
}

.edit-profile-text {
    text-align: center;
    font-size: 20px;
}

.current-profile {
    position: absolute;
    top: 160px;
    left: 100px;
}

.current-profile h1 {
    margin-bottom: 250px;
}

.current-profile p {
    font-size: 20px;
}

.current-profile .email {
    margin-bottom: 50px;
}

.current-profile .player-name {
    margin-bottom: 50px;
}

.current-profile .current-information {
    font-size: 24px;
    margin-bottom: 50px;
}

.payment-form {
    width: 531px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 160px;
}

.payment-form h2 {
    font-size: 28px;
    margin-bottom: 70px;
}

.payment-form h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.payment-form form {
    background-color: #D9D9D90F;
    padding: 20px 45px;
    border-radius: 15px;
}

.payment-form form p {
    font-size: 20px;
    margin-bottom: 1px;
    margin-top: 35px;
}

.payment-form span {
    color: #19DE43;
}

.payment-form input {
    background-color: #D9D9D91A;
    border: #B8B8B8 1px solid;
    border-radius: 10px;
    color: #B8B8B8;
    padding: 8px 15px;
    font-size: 20px;
    width: 95%;
}

.payment-form input::placeholder {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.card-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-information input {
    width: 120px;
}

.withdraw-button-parent {
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.withdraw-button {
    width: 150px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 9999px;
    padding: 9px;
    font-size: large;
    background: linear-gradient(to right, #FFC90E, #D33508);
    cursor: pointer;
    border: none;
}

.payment-method {
    width: 471px;
    position: absolute;
    padding: 20px;
    top: 144px;
}

.payment-method h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 100px;
}

.payment-item {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 40px;

    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px 25px;
}

.logo-circle {
    width: 80px;
    height: 80px;
    border-radius: 99999px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-container {
    border-right: 1px solid white;
    padding: 35px 20px;
}

@media (max-width: 1600px) {
    .grid {
        display: flex;
        grid-template-rows: repeat(2, 1fr);
    }

    .payment-method {
        display: block;
        position: static;
        margin-top: 79px;
    }

}

.support-content {
    display: flex;
    gap: 150px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 350px;
}

@media (min-width: 1200px) {
    .support-content {
        display: flex;
        justify-content: space-between;
        min-width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
}

.support-left h2 {
    font-size: 32px;
    margin-bottom: 100px;
}

.support-left h3 {
    font-size: 24px;
}

.support-left p {
    font-size: 20px;
}

.lets-talk {
    margin-bottom: 60px;
}

.message {
    margin-bottom: 60px;
}

.support-right {
    margin-top: 150px;
}

.support-right form {
    width: 440px;
}

.support-right input {
    width: 100%;
}

.support-right span {
    font-size: 20px;
}

.support-right input {
    background-color: #716C6C;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 8px 15px;
    font-size: 20px;
    width: 93%;
    margin-top: 4px;
}

.support-right textarea {
    width: 92.50%;
    background-color: #716C6C;
    color: white;
    padding: 8px 15px;
    font-size: 20px;
    margin-top: 4px;
}

.support-button {
    width: 94%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 9999px;
    padding: 12px;
    font-size: large;
    background: linear-gradient(to right, #FFC90E, #D33508);
    margin-top: 60px;
    cursor: pointer;
    border: none;
}

.support-right div {
    margin-bottom: 30px;
}

.grid {
    margin-bottom: 100px;
}